img {
width:20%;
margin:20px;
}
body{
background-color:#173b46;
font-family:helvetica;
}
p{
font-size:2vw;
color:#C9B843;
}
h1{
margin:0px;
color:#C98410;
font-weight:bold;
font-size:20vw;
}
h2{
color:#C98410;
font-weight:bold;
font-size:10vw;
}
.lower-title{
margin-top:-5%;
margin-bottom:15%;
float:right;
margin-right:20px;
}
.upper-title{
margin-bottom:0px;
margin:3%;
}
.text-box{
margin-left:80px;
width:20%;
margin-top:-50px;
float:left;
}
.art{
margin:20px;
clear:both;
}